__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
venv/
*.pth
*.bin
*.safetensors
*.gguf
checkpoints/
dataset/*.jsonl
dataset/*.csv
wandb/
swanlab-logs/
.DS_Store
*.log
node_modules/
MiniAgent-104M/
MiniAgent-104M-llama/
MiniAgent-26M/
MiniAgent-llama-format/
checkpoints/
minimind_base/
dataset/
